# sudoku sorusu

In [1]:
sudoku = [
    [0, 0, 0, 0, 6, 4, 0, 0, 0],
    [7, 0, 0, 0, 0, 0, 3, 9, 0],
    [8, 0, 0, 0, 0, 0, 0, 0, 0],
    [0, 0, 0, 5, 0, 2, 0, 6, 0],
    [0, 8, 0, 4, 0, 0, 0, 0, 0],
    [3, 5, 0, 6, 0, 0, 0, 7, 0],
    [0, 0, 2, 0, 0, 0, 1, 0, 3],
    [0, 0, 1, 0, 5, 9, 0, 0, 0],
    [0, 0, 0, 0, 0, 0, 7, 0, 0]
]

In [ ]:
type(sudoku)

len(sudoku)

listenin üç elemanında bir dikey çizgi geleceği için liste elemanları içinde for ile girmemiz lazım.

In [19]:
count = 0 # Bunu her bir satırı alt alta yazmak için kullanacağız.
print("- - - - - - - - - - - - -")
for i in sudoku : # sudoku içindeki her bir eleman alındı. (Ama bu elemanlar da bir liste)
    for j in range(len(i)) : # her bir i listesinin eleman sayısı kadar j yi dönder.
        print(i[j], " ", end="") # burada da her bir i listesinin elemanlarını yanyana boşlukla yazdırırız.end'i boş string yaptığım için her bir elemanını yan yana yazabileceğim.
        if (j + 1) == 9 : # Her satır bitiminde
            print() # bir alt satıra geçmeyi sağlar
            count += 1 # bu count sayısını her bir 3 satırda - yatay çizgi oluşturmak için kullandık
            if count % 3 == 0 and count != 0 :
                print("- - - - - - - - - - - - -")
        if (j + 1) % 3 == 0 and j != 0 and j != 8 : # en sağ tarafa dikey çizgi koymaması için j'nin 8'e eşit olamamsı koşulunu getirdik
                print("| ", end= "")

- - - - - - - - - - - - -
0  0  0  | 0  6  4  | 0  0  0
7  0  0  | 0  0  0  | 3  9  0
8  0  0  | 0  0  0  | 0  0  0
- - - - - - - - - - - - -
0  0  0  | 5  0  2  | 0  6  0
0  8  0  | 4  0  0  | 0  0  0
3  5  0  | 6  0  0  | 0  7  0
- - - - - - - - - - - - -
0  0  2  | 0  0  0  | 1  0  3
0  0  1  | 0  5  9  | 0  0  0
0  0  0  | 0  0  0  | 7  0  0
- - - - - - - - - - - - -

In [10]:
# bizim grubun çözümü

for i, row in enumerate(sudoku):
    if i % 3 == 0 or i==0:
        print("- " *int(len(z)/2))
    z=((" {} {} {} |"*3).format(*[x for x in row]))
    z=z.rstrip(z[-1]).lstrip(" ")
    print (z)
print("- " *int(len(z)/2))

- - - - - - - - - - -
0 0 0 | 0 6 4 | 0 0 0
7 0 0 | 0 0 0 | 3 9 0
8 0 0 | 0 0 0 | 0 0 0
- - - - - - - - - - -
0 0 0 | 5 0 2 | 0 6 0
0 8 0 | 4 0 0 | 0 0 0
3 5 0 | 6 0 0 | 0 7 0
- - - - - - - - - - -
0 0 2 | 0 0 0 | 1 0 3
0 0 1 | 0 5 9 | 0 0 0
0 0 0 | 0 0 0 | 7 0 0
- - - - - - - - - - -

In [11]:
print("- " * 11)
for i, row in enumerate(sudoku):
    z=((" {} {} {} |"*3).format(*[x for x in row]))
    z=z.rstrip(z[-1]).lstrip(" ")
    print (z)
    if i % 3 == 2:
        print("- " *int(len(z)/2))

- - - - - - - - - - -
0 0 0 | 0 6 4 | 0 0 0
7 0 0 | 0 0 0 | 3 9 0
8 0 0 | 0 0 0 | 0 0 0
- - - - - - - - - - -
0 0 0 | 5 0 2 | 0 6 0
0 8 0 | 4 0 0 | 0 0 0
3 5 0 | 6 0 0 | 0 7 0
- - - - - - - - - - -
0 0 2 | 0 0 0 | 1 0 3
0 0 1 | 0 5 9 | 0 0 0
0 0 0 | 0 0 0 | 7 0 0
- - - - - - - - - - -

In [ ]:
# Sofia'ların çözümü

for i in range(9):
    if i==0 or i == 3 or i ==6:
        print("- - - - - - - - - - - - - - - ")
    for y in range(9):
        if y== 3 or y == 6: 
            print("| ", end="")
        if y == 8:   
            print(sudoku[i][y])
        else:     
            print(sudoku[i][y],"  ",  end="")
print("- - - - - - - - - - - - - - - ")

# Task

In [12]:
x = [([1], [2, 3], (4, 5, 6))]

# istenen format: 
# [1, 2, 3, 4, 5, 6]

In [13]:
a = []

for i in x :
    for j in i :
        for z in j :
            a.append(z)
print(a)

[1, 2, 3, 4, 5, 6]

In [20]:
# yukardaki soruyu set comprehension kullanarak şu formata getir:
# {1,2,3,4,5,6}

x = [([1], [2, 3], (4, 5, 6))]

a = {z for i in x for j in i for z in j} 
print(*a)

1 2 3 4 5 6

# Task

In [21]:
xList = "elma armut muz".split()
xList

['elma', 'armut', 'muz']

In [22]:
yList = "selvi vahit ayşe".split()
yList

['selvi', 'vahit', 'ayşe']

In [23]:
result = []

for i in xList :
    for j in yList :
        result.append(i + j)
result

['elmaselvi',
 'elmavahit',
 'elmaayşe',
 'armutselvi',
 'armutvahit',
 'armutayşe',
 'muzselvi',
 'muzvahit',
 'muzayşe']

In [24]:
# list comprehension ile yapalım

[i + j for i in xList for j in yList] # önce dış liste sonra iç listeyi yazdık. list compr.'da dıştan içe doğru döngüler yazılır

['elmaselvi',
 'elmavahit',
 'elmaayşe',
 'armutselvi',
 'armutvahit',
 'armutayşe',
 'muzselvi',
 'muzvahit',
 'muzayşe']

In [25]:
# her birini iç içe liste elemanları yapalım

[[i + j] for i in xList for j in yList] # i + j yi listeye aldık. bu yüzden döngüde her defasında i + j yi liste olarak alacak

[['elmaselvi'],
 ['elmavahit'],
 ['elmaayşe'],
 ['armutselvi'],
 ['armutvahit'],
 ['armutayşe'],
 ['muzselvi'],
 ['muzvahit'],
 ['muzayşe']]

In [28]:
result = []
sayılar = ["bir", "iki", "üç"]

for i in range(5) : 
    if i % 2 == 0 : # range'ten çiftleri al. aşağıdaki blokta kullanacağız.
        for j in sayılar :
            result.append(str(i) + " --> " + j)
result

['0 --> bir',
 '0 --> iki',
 '0 --> üç',
 '2 --> bir',
 '2 --> iki',
 '2 --> üç',
 '4 --> bir',
 '4 --> iki',
 '4 --> üç']

In [29]:
# list comprehension ile çözelim

[str(i) + " --> " + j for i in range(5) for j in sayılar if i % 2 ==0]

['0 --> bir',
 '0 --> iki',
 '0 --> üç',
 '2 --> bir',
 '2 --> iki',
 '2 --> üç',
 '4 --> bir',
 '4 --> iki',
 '4 --> üç']

# Girilen uç sayıdan kaç tanesi tekrarlıyor. bunu gösteren fonksiyon yazalım

In [ ]:
# Task: aynı rakamların tekrar saylarını veren fonksiyon yazacağız
# equal(4, 4, 4) girildiğinde çıktı olarak 3 verecek.
# equal(3, 4, 4) girildiğinde çıktı olarak 2 verecek.
# equal(1, 2, 3) girildiğinde çıktı olarak 0 verecek.

In [34]:
num = [1, 5, 5]
max(num)  # iterable içindeki en büyük sayıyı veriyor.

5

In [31]:
max(num, key = num.count) # num içindeki elemanların tekrar sayılarına göre maksimumunu alır. 
                          # yani en çok tekrar eden sayıyı verir. 
                          # 5 iki kere tekrar ettiği için sonuç 5
        
    # max() fonksiyonu her zaman iterable elemanlardan birini verir.
   
    # şimdi bunu kullanarak fonksiyonumzu yapalım

5

In [32]:
num.count(5)

2

In [35]:
max(num, key = count)

TypeError: 'int' object is not callable

In [38]:
def equal(a, b, c) :
    numbers = [a, b, c]
    result = numbers.count(max(numbers, key = numbers.count)) # max, en çok tekrar eden elemanı verir. yani bir eleman verir. başındaki numbers.count ise bu elemanın kaç kere tekrar ettiğini verecek.
    if result > 1 :
        return result
    else :
        return 0

equal(1, 5, 5)

2

In [39]:
# fonksiyona istediğimiz kadar sayı girebilecek şekilde fonksiyonumuzu düzenleyelim.

def equal(*a) :   # arbitrary parametre kullandık
    numbers = list(a) # girilen rakamları listeye çevirdik ki üzerine count ve max fonksiyonlarını uygulayabilelim.
    result = numbers.count(max(numbers, key = numbers.count)) # max, en çok tekrar eden elemanı verir. yani bir eleman verir. başındaki numbers.count ise bu elemanın kaç kere tekrar ettiğini verecek.
    if result > 1 :
        return result
    else :
        return 0

equal(1,2,3,4,5,5,5,6,7,7)

3

# Task

In [ ]:
# robotu x-y koordinatında hareket ettiriyoruz. en son nerede kaldığını bulacağız.

L = ["right 20", "right 30", "left 50", "up 10", "down 20"]

# right kelimesini arttırmak için kullanacağız, left kelimesini azaltmak için.
# up kelimesini arttırmak için kullanacağız, down kelimesini azaltmak için.

In [61]:
"right 20".split()[1] # bu ifade ile sayı olan elemana ulaştık.

'20'

In [60]:
L = ["right 20", "right 30", "left 50", "up 10", "down 20"]

x = y = 0

for i in range(len(L)) :
    if L[i].startswith("r") : x = x + int(L[i].split(" ")[1])
    if L[i].startswith("l") : x = x - int(L[i].split(" ")[1])
    if L[i].startswith("u") : y = y + int(L[i].split(" ")[1])
    if L[i].startswith("d") : y = y - int(L[i].split(" ")[1])
[x, y]

[0, -10]

In [62]:
print("ahttps://www.google.com".startswith("http://", "https://", "ahttp")) 

# burada 3 farklı kombinasyonla da başlarsa yazdırmaya yarar.

TypeError: slice indices must be integers or None or have an __index__ method

In [63]:
print("ahttps://www.google.com".startswith(("http://", "https://", "ahttp"))) 

# startswith() içine birer parantez daha koyup tuple içine aldık. yani bir değer olmasını sağladık. bu sefer kod çalışcak

True

# dictionary den hesap makinası yapalım

In [65]:
ops = {"+" : (lambda x, y : x + y), "-" : (lambda x, y : x - y), "/" : (lambda x, y : x /y)}
ops 

# lambdaya argüman yollamazsaz aşağıdaki gibi gösterecek.

{'+': <function __main__.<lambda>(x, y)>,
 '-': <function __main__.<lambda>(x, y)>,
 '/': <function __main__.<lambda>(x, y)>}

In [ ]:
# şimdi lambdalara argümanları yollayalım

In [66]:
ops["+"]  # "+" keyinin value'su karşısındaki lambdadır.

In [68]:
ops["+"](3, 5)

8

In [69]:
ops["-"](11,5)

6

In [71]:
normal={"bir": 11, "iki" : 22}
normal["bir"]

11

In [72]:
type(normal["bir"])

int

# CSV Files

In [ ]:
# CSV files, virgülle ayrılmış verilerdir.

In [ ]:
# .txt dosyasının uzantısını silip yerine csv yazarsan bir cvs dosyası oluşturmuş olşuyorsun.

In [ ]:
"""
Working with files konusunda olduğu gibi bir dosya oluşturduk. 
Ama bu kez .txt yerine .csv uzantılı dosya oluşturduk.
Daha sonra bu .csv dosyalarını önceki derslerde olduğu gibi 
çağırma yollarını gördük.
3 çeşit çağırma yolu var:
1- Klasik open ve read
2-Csv modülü
3-Pandas kütüphanesi ile
"""

In [46]:
with open("fruits.csv", "r", encoding="utf-8") as file:
    print(file.read())

FileNotFoundError: [Errno 2] No such file or directory: 'fruits.csv'

In [45]:
import csv # load csv module

with open("fruits.csv", 'r', newline = '', encoding = 'utf-8') as file:
    csv_rows = csv.reader(file)  # file'ı aldım reader'ın içine gömdüm. reader() function takes each
                                 # row (lines) into a list. her bir satırın tipi listedir.
    for row in csv_rows:
        print(row)

FileNotFoundError: [Errno 2] No such file or directory: 'fruits.csv'

In [ ]:
# delimeter parametresi

delimeter , ise listede farklı elemanlar olur
delimeter olarak satırlar arasında olmayan bir karakter belirlersek 
mesela delimeter=":" yaparsak liste içindeki her şey bir elemana indirgenir 
(çünkü delimeter dosya içindeki bir ayracı baz alır)

In [47]:
import pandas as pd # pandas yoksa pip install pandas yaparak indiriyoruz.

In [48]:
titanic = pd.read_csv("titanic.csv")

In [49]:
titanic

,PassengerId,Survived,Pclass,Lname,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Braund,Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Heikkinen,Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,Futrelle,Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,Allen,Mr. William Henry,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,1,1,Pears,Mrs. Thomas (Edith Wearne),female,22.0,1,0,113776,66.6000,C2,S
152,153,0,3,Meo,Mr. Alfonzo,male,55.5,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,van Billiard,Mr. Austin Blyler,male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,Olsen,Mr. Ole Martin,male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,Williams,Mr. Charles Duane,male,51.0,0,1,PC 17597,61.3792,NaN,C

In [50]:
bayanlar = titanic[titanic["Sex"] == "female"] # titanic dosyasındaki sex'i female olanları listele

In [51]:
bayanlar.to_csv("titanic_bayanlar.csv") # titanic_bayanlar.csv dosyası oluşturdu. içinde bayanların listesi var.

In [52]:
vefat = titanic[titanic["Survived"] == 0]

In [53]:
vefat.to_csv("titanic_vefat.csv") # titanic_vefat.csv dosyası oluşturdu. içinde vefat edenlerin listesi var.

In [54]:
titanic.groupby("Sex")["Survived"].mean()

Sex
female    0.714286
male      0.140000
Name: Survived, dtype: float64

In [56]:
titanic.groupby("Pclass")["Survived"].mean()

Pclass
1    0.400000
2    0.466667
3    0.291667
Name: Survived, dtype: float64